$primary: #95206e;
$secondary: #000;
$primary-v1: #fff;
$primary-v2: #52001f;
$primary-v3: #cc004d;
$primary-v4: #ff0060;

/* Color Theme Swatches in Hex */
.Pure-Magenta-Scale-1-hex {
  color: #330013;
}
.Pure-Magenta-Scale-2-hex {
  color: #52001f;
}
.Pure-Magenta-Scale-3-hex {
  color: #8a0034;
}
.Pure-Magenta-Scale-4-hex {
  color: #cc004d;
}
.Pure-Magenta-Scale-5-hex {
  color: #ff0060;
}

/* Color Theme Swatches in RGBA */
.Pure-Magenta-Scale-1-rgba {
  color: rgba(51, 0, 18, 1);
}
.Pure-Magenta-Scale-2-rgba {
  color: rgba(82, 0, 31, 1);
}
.Pure-Magenta-Scale-3-rgba {
  color: rgba(137, 0, 52, 1);
}
.Pure-Magenta-Scale-4-rgba {
  color: rgba(204, 0, 77, 1);
}
.Pure-Magenta-Scale-5-rgba {
  color: rgba(255, 0, 96, 1);
}

/* Color Theme Swatches in HSLA */
.Pure-Magenta-Scale-1-hsla {
  color: hsla(337, 100, 10, 1);
}
.Pure-Magenta-Scale-2-hsla {
  color: hsla(337, 100, 16, 1);
}
.Pure-Magenta-Scale-3-hsla {
  color: hsla(337, 100, 27, 1);
}
.Pure-Magenta-Scale-4-hsla {
  color: hsla(337, 100, 40, 1);
}
.Pure-Magenta-Scale-5-hsla {
  color: hsla(337, 100, 50, 1);
}
