@import "../../stylesheets/defaults.scss";

.hamburger {
  padding: 0;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger.is-active:hover,
.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before {
  background-color: #000;
}

.hamburger-box {
  width: 20px;
  height: 14px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1px;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  width: 20px;
  height: 2px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform, -o-transform;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}

.hamburger-inner:after,
.hamburger-inner:before {
  content: "";
  display: block;
}

.hamburger-inner:before {
  top: -6px;
}

.hamburger-inner:after {
  bottom: -6px;
}

.hamburger--squeeze .hamburger-inner {
  -webkit-transition-duration: 75ms;
  -o-transition-duration: 75ms;
  transition-duration: 75ms;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner:before {
  -webkit-transition: top 75ms ease 0.12s, opacity 75ms ease;
  -o-transition: top 75ms 0.12s ease, opacity 75ms ease;
  transition: top 75ms ease 0.12s, opacity 75ms ease;
}

.hamburger--squeeze .hamburger-inner:after {
  -webkit-transition: bottom 75ms ease 0.12s,
    -webkit-transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 75ms ease 0.12s,
    -webkit-transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: bottom 75ms 0.12s ease,
    -o-transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 75ms ease 0.12s,
    transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 75ms ease 0.12s,
    transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19),
    -webkit-transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19),
    -o-transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition-delay: 0.12s;
  -o-transition-delay: 0.12s;
  transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner:before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 75ms ease, opacity 75ms ease 0.12s;
  -o-transition: top 75ms ease, opacity 75ms 0.12s ease;
  transition: top 75ms ease, opacity 75ms ease 0.12s;
}

.hamburger--squeeze.is-active .hamburger-inner:after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: bottom 75ms ease,
    -webkit-transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transition: bottom 75ms ease,
    -webkit-transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  -o-transition: bottom 75ms ease,
    -o-transform 75ms 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 75ms ease,
    transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transition: bottom 75ms ease,
    transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s,
    -webkit-transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s,
    -o-transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
}
