@import "../../stylesheets/defaults.scss";

header > nav {
  display: block;
  width: 66.6%;

  #menu-top-nav {
    justify-content: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style-type: none;

    li.menu-item {
      padding-left: 1ex;
      padding-right: 1ex;
    }

    .menu-item a {
      display: inline-block;
      font-weight: 600;
      font-size: 14px;
      font-size: 0.875rem;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      letter-spacing: 0.10938rem;
      text-transform: uppercase;
      font-family: Raleway;
      font-weight: 700;
      text-decoration: none;
      color: $secondary;
      font-family: "Montserrat";
    }
  }

  #menu-top-nav:hover .menu-item a,
  #menu-top-nav:hover .subnav-menu-item a {
    opacity: 0.5;
  }

  #menu-top-nav:hover .menu-item:hover a,
  #menu-top-nav:hover .subnav-menu-item:hover a {
    opacity: 1;
  }
}

/* 
*
Media Queries Here
*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .example {
    background: red;
  }
}

/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .example {
    background: green;
  }
}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
  .example {
    background: blue;
  }
}

/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px) {
  header > nav.navigation > #menu-top-nav {
    display: none;
    background: pink;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and down) */
@media only screen and (max-width: 1200px) {
  .example {
    background: pink;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .example {
    background: green;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .example {
    background: blue;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .example {
    background: pink;
  }
}
